/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
    font-family:  sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden
  }

  /* Style the list items */
  #myUL {
    top: 10px;
    list-style-type: none;
    display: block;
    margin: 20px;
    position:static;
    font-size: 18px;
  
  }
.logo{
  max-width: 200px;
  max-height: 100%;
  float: right;
}
  
  /* Style the close button */
  .close {
    margin-left: 10px;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: beige;
    padding: 30px 40px;

    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

  }
  
  .item {
    float: left;
    margin: 5px;
    padding-top: 5px;
  }
  
  .item a {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px ;
    text-decoration: none;
  }
  
  .item a:hover {
    background-color: #111;
  }